.root{
	-fx-background-color: rgb(252, 149, 134);
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.root *{
	-fx-font-family: "Segoe UI";
}

.scroll-pane{
	-fx-background-color: white;
	-fx-border-width: 0;
}

.tab-header-background{
	-fx-background-color: rgb(252, 149, 134);
}

.tab-pane, .tab:selected {
	-fx-background-color: white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.tab{
	-fx-background-color: #A6BC3F;
	-fx-padding: 10;
	-fx-bottom: -1;
}

.tab, .tab .tab-label{
	-fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
	-fx-alignment: CENTER;
    -fx-text-fill: grey;
}

.table-view {
    -fx-font-size: 12pt;
  	-fx-font-weight: bold;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .column-header{
	-fx-border-color: #a3a3a3;
	-fx-background-color: #F95959;
	-fx-pref-height: 50;
}

.table-row-cell {
    -fx-cell-size: 50;
}

.table-column-cell:empty {
    -fx-background-color: red;
}

.table-column-cell:empty .table-cell{
	-fx-pref-width: 0;
}

.table-cell{
	-fx-alignment: CENTER;
    -fx-border-color: #a3a3a3;
    -fx-text-fill: #a3a3a3;
    -fx-padding: 3;
}

.nameCol{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 0 0 15;
}

.priceCol{
	-fx-font-weight: normal;
}

#loginBtn{
	-fx-background-color: #A6BC3F;
	-fx-text-fill: white;
}

#notifLbl, #notifLbl2{
	-fx-background-color: transparent;
	-fx-padding: 10;
	-fx-background-radius: 4px;
}

#notifLbl2{
	-fx-background-color: white;
	-fx-border-radius: 3px;
	-fx-border-color: #c0c0c0;
	-fx-border-style: solid;
	-fx-border-width: 1px;
}

#paid, #unpaid, #overdue, #unitOwnerLbl, #unitNumLbl{
	-fx-alignment: CENTER;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: #808080;
	-fx-font-size: 12pt;
}

#paid, #unpaid, #overdue{
	-fx-border-radius: 200px;
	-fx-background-radius: 200px;
}

#paid{
	-fx-background-color: green;
}

#unpaid{
	-fx-background-color: grey;
}

#overdue{
	-fx-background-color: red;
}

#unitOwnerLbl{
	-fx-padding: 6;
	-fx-font-size: 16px;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-width: 1;
	-fx-border-color: #a3a3a3;
}

#tableHeaderLbl{
	-fx-font-size: 16px;
	-fx-text-fill: #F95959;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
}

#viewBtn, #printBtn{
	-fx-padding: 5;
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-color: transparent;
	-fx-alignment: CENTER;
}

#viewBtn{
	-fx-background-color: #A6BC3F;	
}

#printBtn{
	-fx-background-color: #F95959;
}

#table{
	-fx-background-color: white;
}

#appNameLbl{
	-fx-font-size: 30px;
	-fx-text-fill: white;
}

#hiddenCol{
	-fx-pref-height: 0;
}

#CB{
	-fx-text: "+";
}

#tableContainer{
	-fx-background-color: white;
	-fx-border: none;
}

#collectionEditBtn. #closeUp{
	-fx-background-color: #F95959;
	-fxborder: none;
	-fx-border-radius: 200px;
	-fx-background-radius: 200px;
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

#closePopup{
	-fx-background-color: #c87624;
	-fx-text-fill: white;
	-fx-font-size: 20px;
}