.root{
	-fx-background-color: #86BA90;
	-fx-background-color: linear-gradient(to top, #EF6461 0%, #f7bb97 100%);
}

.root *{
	-fx-font-family: "Segoe UI";
}

.button, .text-field{
	-fx-font-size: 12pt;
}

.button{
	-fx-background-color: linear-gradient(to top, #88D18A 0%, #8fe892 100%);
	-fx-background-color: #BDD358;
	-fx-text-fill: #4b4b4b;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 2);
	-fx-padding: 5;
}

.text-field{
	-fx-prompt-text-fill: #4b4b4b;
}

#appNameLbl{
	-fx-text-fill: white;
	-fx-font-size: 25pt;
}

#loginVBox{
	-fx-padding: 50;
}

#notifLbl, #notifLbl2{
	-fx-background-color: transparent;
	-fx-padding: 10;
	-fx-background-radius: 4px;
}

#notifLbl2{
	-fx-background-color: white;
	-fx-border-radius: 3px;
	-fx-border-color: #c0c0c0;
	-fx-border-style: solid;
	-fx-border-width: 1px;
}