.root{
	
}

.root *{
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.text-field{
	
}

.button{
	
}

.radio-button:selected {
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.radio {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #f7bb97;
    -fx-border-radius: 100;
}


#searchBox{
	-fx-border-width: 1px;
	-fx-border-color: #f7bb97;
	-fx-border-radius: 100;
	-fx-padding: 0 10 0 10;
}

#searchTF{
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-text-box-border: transparent;
	 -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}

#searchBtn{
	-fx-background-color: transparent;
	-fx-background-image: url('images/search.png'); 
	-fx-background-repeat: no-repeat;
}