.root{
	-fx-background-color: linear-gradient(to top, #EF6461 0%, #f7bb97 100%);
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.root *{
	-fx-font-family: "Segoe UI Light";
}

.button{
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0.0 , 0 , 1);
}

.scroll-pane{
	-fx-background-color: white;
	-fx-border-width: 0;
}

.tab-header-background{
	-fx-background-color: rgb(252, 149, 134);
	-fx-background-color: linear-gradient(to top right, #EF6461 0%, #EF6461 70%, #f7bb97 100%);
}

.tab-pane, .tab:selected {
	-fx-background-color: white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.tab{
	-fx-background-color: linear-gradient(to top, #BDD358 0%, #BDD358 85%, #a6ba4a 100%);
	-fx-padding: 10;
	-fx-bottom: -1;
}

.tab, .tab .tab-label{
	-fx-alignment: CENTER;
    -fx-text-fill: #4b4b4b;
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.tab:selected .tab-label{
	-fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab:selected{
	-fx-background-color: linear-gradient(to top, #ffffff 0%, #ffffff 85%, #d6d6d6 100%);
}



.popupTable{
	-fx-alignment: CENTER_LEFT;
	-fx-font-weight: normal;
}

.nameCol{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 0 0 15;
}

.priceCol{
	-fx-font-weight: normal;
}

.itemCol > .table-view .column-header .label{
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 0 0 15;
	-fx-background-color:white;
}

.text-field{
	-fx-prompt-text-fill: #4b4b4b;
	-fx-font-size: 10pt
}

#appNameLbl{
	-fx-alignment: CENTER;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 30pt;
	-fx-padding: 20;
}

#loginBtn{
	-fx-background-color: #A6BC3F;
	-fx-text-fill: white;
}

#notifLbl, #notifLbl2{
	-fx-background-color: transparent;
	-fx-padding: 10;
	-fx-background-radius: 4px;
}

#notifLbl2{
	-fx-background-color: white;
	-fx-border-radius: 3px;
	-fx-border-color: #c0c0c0;
	-fx-border-style: solid;
	-fx-border-width: 1px;
}

#paid, #unpaid, #overdue, #unitOwnerLbl, #unitNumLbl{
	-fx-alignment: CENTER;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-text-fill: #808080;
	-fx-font-size: 12pt;
}

#paid, #unpaid, #overdue{
	-fx-border-radius: 200px;
	-fx-background-radius: 200px;
}

#paid{
	-fx-background-color: #3F561E;
}

#unpaid{
	-fx-background-color: #95989A;
}

#overdue{
	-fx-background-color: #FF0606;
}

#unitOwnerLbl{
	-fx-padding: 6;
	-fx-font-size: 16px;
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-width: 1;
	-fx-border-color: #a3a3a3;
}

#tableHeaderLbl{
	-fx-font-size: 16px;
	-fx-text-fill: #F95959;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
}

#table{
	-fx-background-color: white;
}

#hiddenCol{
	-fx-pref-height: 0;
}

#CB{
	-fx-text: "+";
	-fx-font-size: 14pt;
}

#tableContainer{
	-fx-background-color: white;
	-fx-border: none;
}

#collectionEditBtn{
	-fx-background-color: #A6BC3F;
	-fxborder: none;
	-fx-border-radius: 200px;
	-fx-background-radius: 200px;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 1);
}

#closePopup{
	-fx-background-color: #dd0000;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-border-radius: 200px;
	-fx-border-width: 1px;
	-fx-border-color: #c40000;
	-fx-background-radius: 200px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 1);
}

#tfPopup{
	-fx-border-color: grey;
}

#lblPopup{
	-fx-text-fill: grey;
	-fx-font-size: 12px;
}

#addPopup{
	-fx-background-color:#F95959;
	-fx-text-fill: white;
}

#cd_error{
	-fx-padding: 5px;
	-fx-border-width: 1px;
	-fx-border-radius: 1px;
	-fx-border-color: lightgrey;
	-fx-alignment: CENTER;
}

#cd_error_hidden{
	-fx-border-width: 0px;
}

#logout{
	-fx-background-color: #BDD358;
	-fx-text-fill: #4b4b4b;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 2);
	-fx-padding: 5;
}

#header{
	-fx-background-color: linear-gradient(to top right, #EF6461 0%, #EF6461 70%, #f7bb97 100%);
}
